<div class="container">
  <ion-card class="principal">
    <ion-card-header class="ion-text-center">
      <ion-row>
        <ion-col size="10" offset="1">
          <ion-header [translucent]="true">
            <ion-toolbar>
              <img 
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Logo_DuocUC.svg/1200px-Logo_DuocUC.svg.png" 
              alt="Duoc Uc"
              >
            </ion-toolbar>
          </ion-header>
        </ion-col>
      </ion-row>
      <ion-card-title>
        QR Duoc Uc
      </ion-card-title>
        <br>
      <ion-text>
        Opcion
      </ion-text>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button  expand="block" [routerLink]= "'/home/qr-generar'">
              Generar QR
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-button expand="block" color="light" [routerLink]="'/home'">
          Volver
        </ion-button>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</div>